# Intermediate (object files) directories.
obj/
test/obj/

# Main executable and test executable.
Telomeri
test/Telomeri

# Vim autocomplete options.
.ycm_extra_conf.py

# CLion folders
.idea/
cmake-build-debug/

# Resource folder
res/*
# Accept resource folder readme
!res/Readme.md
